events {}

http {
    server {
        listen 80;
        server_name localhost;

        location / {
            root /usr/share/nginx/html;
            index home.html;
            try_files $uri $uri/ /home.html;  # Fallback to index.html for single page applications or if no file is found
        }

        location /static/ {
            alias /usr/share/nginx/html/static;  # Path where you've copied your static assets
            expires 3d;
            add_header Cache-Control "public";
            try_files $uri $uri/ =404;
        }

        # Any other location blocks or server configurations you might need
        # ...
    }
    
    # Additional configurations such as gzip, logging, etc.
    # ...
}
