<!--
    state: selected state
    hospitals: list of the hospitals for the given state
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbirth</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/eso4tvc.css">
</head>
<body>
    <img src="/static/resources/dashbirth_logo.svg" alt="Dashbirth Logo">
    <h2><span id="rest">Select the </span><span id="state">hospital</span></h2>
    <div class="button-container">
        <button class="state-button" onclick="window.location.href='home.html'">ALL HOSPITALS</button>
            <button class="state-button" onclick="window.location.href='home.html'">Cascade Valley Hospital</button>
            <button class="state-button" onclick="window.location.href='home.html'">Providence St Peter</button>
            <button class="state-button" onclick="window.location.href='home.html'">Virginia Mason</button>
            <button class="state-button" onclick="window.location.href='home.html'">St Francis</button>
            <button class="state-button" onclick="window.location.href='home.html'">Evergreenhealth</button>
            <button class="state-button" onclick="window.location.href='home.html'">Swedish Issaquah</button>
            <button class="state-button" onclick="window.location.href='home.html'">Central WA Hospital</button>
            <button class="state-button" onclick="window.location.href='home.html'">Providence Holy family</button>
            <button class="state-button" onclick="window.location.href='home.html'">Providence Everett</button>
    </div>
</body>
</html>