accelerate
bitsandbytes
fastapi[all]
google-cloud-storage
InstructorEmbedding
langchain==0.1.11
langchain-community==0.0.27
peft
transformers
uvicorn
datasets
pyarrow
jsonlines
numpy
pydantic
requests
scikit_learn
scipy
sentence_transformers==2.2.2
torch
tqdm
rich
Xformers
faiss-gpu
