<!--
    state: current state (code only e.g. CA, TX, etc.)
    hospital: current hospital (formatted with name, url)
    start_date: first date from the surveys
    end_date: last date from the surveys
    survey_total: total number of surveys
    survey_trend: survey count trend by month
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBirth</title>
    <link rel="stylesheet" href="/static/styleh.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/eso4tvc.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="pages">
            <div class="col-md-2 menu">
                <img src="/static/resources/dashbirth_logo.svg" alt="Dashbirth Logo" class="logo">
                <div class="menu-buttons">
                    <button class="btn-menu-selected" onclick="window.location.href='/{{state}}/{{hospital.url}}'">Home</button>
                    <button class="btn-menu" onclick="window.location.href='/{{state}}/{{hospital.url}}/preferences'">Preferences</button>
                    <button class="btn-menu" onclick="window.location.href='/{{state}}/{{hospital.url}}/trust'">Trust & Decision Making</button>
                    <button class="btn-menu" onclick="window.location.href='/{{state}}/{{hospital.url}}/experience'">TeamBirth Experience</button>
                    <button class="btn-menu" onclick="window.location.href='/{{state}}/{{hospital.url}}/demographics'">Demographics</button>
                    <button class="btn-menu" onclick="window.location.href='/{{state}}/{{hospital.url}}feedback'">Open Feedback</button>
                </div>
            </div>
            <div class="col-md-10 dashboard">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard-header">
                                <h1 class="dashboard-title">{{hospital.name}}, {{state}}</h1>
                            <button class="btn-change-hospital" onclick="window.location.href='/'">CHANGE HOSPITAL</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 line1">
                        <div class="dashboard-item">
                            <p><span class="dashboard-number">{{survey_total}}</span><span class="dashboard-text"><br>surveys</span></p>
                        </div>
                    </div>
                    <div class="col-md-4 line1">
                        <div class="dashboard-item2">
                            <p class="dashboard-subtext"><span id="date">{{start_date}}</span><br><span id="text">Starting date</span></p>
                            <p class="dashboard-subtext"><span id="date">{{end_date}}</span><br><span id="text">Ending date</span></p>
                        </div>
                    </div>
                    <div class="col-md-4 line1">
                        <div class="dashboard-item3" onclick="window.location.href='/{{state}}/{{hospital.url}}/chatbot'">
                            <img src="/static/resources/chatbot.svg" alt="Chatbot">
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 line2">
                        <div class="dashboard-item4">
                            <p class="chart-title">PATIENT SURVEY COUNT</p>
                            <div class="chart"></div>
                        </div>
                    </div>
                    <div class="col-md-6 line2">
                        <div class="dashboard-item5">
                            <p class="chart-title">HUDDLE SUMUP</p>
                            <div class="chart2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var survey_count_data = "{{ survey_trend | tojson | safe }}";
        var huddle_sumup_data = {"Huddle Yes": 90, "Huddle No": 10};
    </script>
    <script src="/static/sketch1.js"></script>
    <script src="/static/sketch2.js"></script>
</body>
</html>
